.glavniDiv{
    margin: 0px auto;
    width: 85%;
    
    }
    
    
    
    
    .headerLogo{
    
    flex-grow: 1;
    padding: 5px;

    }
    
    .headerIkonice{
    
    flex-grow: 1;
    text-align: right;
    }
    
    .headerGornji{
    display: flex;
    align-items: center;
    
    }
    
    .headerLogo img {
    height: 60px;
    
    
    }
       
    .headerIkonice a img{
    width: 24px;
    height: 24px;
    margin: 5px;
    }
    
    /* Stiliziranje Meni-a */
    #main-menu{
    display: flex;
    justify-content:center;
    
    
    }
    
    #main-menu a{
    flex-grow: 1;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #2098e9;    
    transition: 450ms;
    padding: 20px;
    }
    
    #main-menu a.active,
    #main-menu a:hover{
        background-color: #3b637e;
        color: white;
        transition: 450ms;
    
    }
    /* Dodavanje fotografije */
    #pocetna {
    height: 70vh;
    background-color: aqua;
    background: url("/pocetna.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    
    #onama{
    padding-top: 25px;
    }
    
    .centriranText{
        text-align: center;
    }
    
    .krugovi{
    display: flex;
    margin: 30px 0px;
    }
    .krug-holder{
    flex-grow: 1;
    text-align: center
    
    }
    
    .krug{
    background-color: red;
    color: white;
    padding: 25%;
    height: 50px;
    width: 50px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    }
    .oznaka{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;}
    
    .tehnologije{
    display: flex;
    text-align: center;
    margin:30px 0px;}
    
    .tehnologija{
    flex-grow: 1;
    }